.header {
  max-width: 1800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.pointsDisplay {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pointsIcon {
  width: 20px;
  height: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.active {
  color: blue;
}

.notificationsDropdown {
  position: absolute;
  top: 60px; /* Header'ın hemen altına yerleşmesi için */
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notificationButton {
  background-color: #4CAF50; /* Butonun yeşil renkte olması için */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.notificationButton:hover {
  background-color: #45a049; /* Hover efekti */
}

.burgerButton {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* 1920px altında genişlik ayarları */
@media (max-width: 1920px) {
  .header {
    padding: 0 20px;
  }

  .burgerButton {
    display: none;
  }
}

/* Daha küçük ekranlarda burger menü gösterimi */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .burgerButton {
    display: block;
  }
}
