.header {
  max-width: 1800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.pointsDisplay {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pointsIcon {
  width: 20px;
  height: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link {
  margin-left: 20px;
  text-decoration: none;  /* Alt çizgiyi kaldır */
  color: #333;  /* Normalde koyu gri renk */
  font-size: 18px;  /* Linklerin font boyutunu büyüt */
  font-weight: 500;  /* Daha kalın font */
  transition: color 0.3s, transform 0.3s ease;  /* Renk ve transform geçişi */
}
/* Link aktif olduğunda farklı stil */
.link.active {
  color: #007bff;  /* Mavi renk aktif link için */
  font-weight: bold;  /* Aktif linki kalın yap */
  transform: scale(1.05);  /* Aktif linki hafif büyüt */
}

/* Link üzerine gelindiğinde (hover) stil */
.link:hover {
  color: #0056b3;  /* Hover sırasında daha koyu mavi */
  text-decoration: underline;  /* Altını çizin */
}
.active {
  color: blue;
}

.notificationsDropdown {
  position: absolute;
  top: 60px; /* Header'ın hemen altına yerleşmesi için */
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notificationButton {
  background-color: rgb(102, 148, 228);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.notificationButton:hover {
  background-color: #125480; /* Hover efekti */
}

.burgerButton {
  display: none;
  background-color: rgb(200, 158, 215);
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* 1920px altında genişlik ayarları */
@media (max-width: 1920px) {
  .header {
    padding: 0 20px;
  }

  .burgerButton {
    display: none;
  }
}

/* Daha küçük ekranlarda burger menü gösterimi */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .burgerButton {
    display: block;
  }
}
/* Logout Button stilini CSS modülünde tanımlayın */
.logoutButton {
  background-color: #ec5976;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 20px;
}

.logoutButton:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

.logoutButton:focus {
  outline: none;
}