
.container {
    display: flex;
  justify-content: center; 
    max-width: 100vw;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    font-size: 1.2rem;
    color: #666; 
    margin-bottom: 30px; 
    font-style: italic;
}

  p {
    color: #777;
    font-size: 16px;
  }
  
 
  ul {
 
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
   
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li h3 {
  
    font-size: 18px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
  }
  
  li p {
 
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }
  

  button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  button.approve {
    background-color: #28a745;
  }
  
  button.approve:hover {
    background-color: #218838;
  }
  
 
  button.delete {
    background-color: #dc3545;
  }
  
  button.delete:hover {
    background-color: #c82333;
  }
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;          
    margin-top: 20px;
    overflow-x: auto;    
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
  }
  
  .card h3 {
    margin: 0;
    font-size: 1.2em;
  }
  .page-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }