.profileHeader {
  max-width: 100vw;
  margin: 20px auto;
  text-align: center;
}

.profileContainer {
  display: flex;
  width: 90vw;
  padding: 0;
  gap: 60px;
}

.profileDetails {
  flex: 1;
  border-right: 1px solid #ccc;
  padding-right: 50px;
}

.profilePicture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.userInfo p {
  margin: 10px 0;
}

.editProfileButton {
  display: block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.editProfileButton:hover {
  background-color: #0056b3;
}

.userEvents {
  flex: 2;
  padding-left: 20px;
}

.eventList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.eventItem {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.eventItem:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.eventItem h3 {
  margin: 0 0 10px;
  color: #007bff;
  font-size: 18px;
}

.eventItem p {
  margin: 5px 0;
  color: #333;
}

.eventList a {
  color: #007bff;
  text-decoration: none;
}

.eventList a:hover {
  text-decoration: underline;
}

.eventAddButton {
  margin-top: 20px;
}

.eventAddButton button {
  padding: 12px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.eventAddButton button:hover {
  background-color: #218838;
}

/* Yeni Etkinlik İçin CSS */
.eventDate {
  font-weight: bold;
  color: #555;
  margin-top: 5px;
}

.eventDescription {
  font-style: italic;
  color: #777;
  margin-top: 5px;
}

.eventSubcategory {
  color: #333;
  margin-top: 10px;
}

.userPoints, .createEventButtonContainer, .addInterestButtonContainer {
  width: 100%;
  margin-bottom: 10px; /* Butonlar arasına küçük boşluk ekledik */
}

.userPoints {
  padding: 15px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 5px;
}

.createEventButton, .addInterestButton {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Butonları aynı genişlikte yapıyoruz */
}

.createEventButton {
  background-color: #28a745;
  color: #fff;
}

.createEventButton:hover {
  background-color: #218838;
}

.addInterestButton {
  background-color: #007bff;
  color: #fff;
}

.addInterestButton:hover {
  background-color: #0056b3;
}

.createEventButtonContainer, .addInterestButtonContainer {
  text-align: center;
}
/* Actions kısmı */
.actions {
  display: flex;
  justify-content: flex-start; /* Kısımları sola çekmek için */
  gap: 10px; /* İstenilen aralığı ekle */
  width: 100%;
}

.actions .section {
  flex: 1; /* Eşit genişlikte olması için */
  padding: 10px;
}

.actions .section h3 {
  margin: 0;
  color: #007bff;
  font-size: 18px;
}

.actions .section p {
  margin: 5px 0;
  color: #333;
}